<%- include("partials/header") %>

<h1>Search results from results.ejs</h1>

<% if(data.Search!==undefined){ %>
<ul>
<% for(var i=0;i<data.Search.length;i++){ %>
    <li> <strong> <%= data.Search[i].Title %> </strong> - <%= data.Search[i].Year %> </li>
<% } %>
</ul>
<% } %>
<a href="/">Search again</a>

<%- include("partials/footer") %>
