<%- include("partials/header") %>


<h1>This is the search page</h1>
<form action="/results" method="get">
    <input type="text" name="search" placeholder="movie name">
    <button>Search Movie</button>
</form>

<%- include("partials/footer") %>
